<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<center>
    <h2>Show all details</h2>

    <form th:action="@{/showAllDetails}" th:object="${userDTO}"
          method="POST">

        <h3>Type user's ID:</h3>

        <input type="text" th:field="*{id}"/>
        <br/>

        <h3><input type="submit" value="Show user" /></h3>

        <error th:if="${invalidIdError != null}"
               th:text="${invalidIdError}"}></error>

        <positive th:if="${details != null &&
            user != null &&
            invalidIdError == null}" ></br>
            Details Id: <span th:if="${details != null && details.detailsId != null}"
                              th:text="${details.detailsId}"></span></br>
            Field of study: <span th:if="${details != null && details.fieldOfStudy != null}"
                                  th:text="${details.fieldOfStudy}"></span></br>
            First name: <span th:if="${details != null && details.firstName != null}"
                              th:text="${details.firstName}"></span></br>
            Last name: <span th:if="${details != null && details.lastName != null}"
                             th:text="${details.lastName}"></span></br>
            University: <span th:if="${details != null && details.university != null}"
                              th:text="${details.university}"></span></br>
            Year of study: <span th:if="${details != null && details.yearOfStudy != null}"
                                 th:text="${details.yearOfStudy}"></span></br>
            User Id: <span th:if="${user != null && user.getId() != null}"
                      th:text="${user.getId()}"></span></br>

        </positive>
    </form>

    <br/><br/><br/>
    <a th:href="@{index}">Back to main page</a>

</center>
</body>

</html>