<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Skills</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<center>
    <h2>Show skills</h2>

    <form th:action="@{/showSkills}" th:object="${skills}"
          method="GET">
            <th:block th:each="skill : ${skills}">
                <tr>
                    <td th:text="${skill.getId()}"/></td>
                    <td text="."/>
                    <td th:text="${skill.getSkillName()}"/></td></br>
                </tr>
            </th:block>

        <error th:if="${invalidIdError != null}"
               th:text="${invalidIdError}"}>
        </error>

        <br/><br/><br/>
        <a th:href="@{index}">Back to main page</a>
    </form>


</center>
</body>

</html>